.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

code {
  font-weight: bold;
}

img[src*='#center'] {
  display: block;
  margin: auto;
}

.unique[aria-selected='true'] {
  border-bottom-color: rgb(189, 5, 189);
  border-color: rgb(189, 5, 189);
  color:rgb(189, 5, 189);
}

