/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #861986;
  --ifm-color-primary-dark: #791679;
  --ifm-color-primary-darker: #721572;
  --ifm-color-primary-darkest: #5e115e;
  --ifm-color-primary-light: #931b93;
  --ifm-color-primary-lighter: #9a1d9a;
  --ifm-color-primary-lightest: #ae21ae;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root {
  --ifm-color-primary: #861986;
  --ifm-color-primary-dark: #791679;
  --ifm-color-primary-darker: #721572;
  --ifm-color-primary-darkest: #5e115e;
  --ifm-color-primary-light: #931b93;
  --ifm-color-primary-lighter: #9a1d9a;
  --ifm-color-primary-lightest: #ae21ae;
}
